extends layout

block scripts
  script(src='/javascripts/gameController.js')

block content
  h1 GameId: #{gameData.game_id}
  form
    label(for='fname') Player 1:
    input#fname(type='text' name='fname' value=gameData.player1_name)
    br
    br
    label(for='lname') Player 2:
    input#lname(type='text' name='lname' value=gameData.player2_name))
    br
    br
    input(type='submit' value='Save')
