extends layout

block scripts
  script(src='/javascripts/gameController.js')

block content
  h1 GameId: #{gameData.game_id}
  div.form-group
    label(for='p1name') Player 1:
    input#p1name(type='text' name='p1name' value=gameData.player1_name)
  div.form-group.mt-2
    label(for='p2name') Player 2:
    input#p2name(type='text' name='p2name' value=gameData.player2_name)
  input.btn.mt-4(type='submit' value='Save')
