extends layout

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  script(src='/javascripts/trackerController.js')  

block content
  h1 GameId: #{gameData.game_id}
  div.form-group
    label(for='p1name') Player 1:
    input#p1name(type='text' name='p1name' value=gameData.player1_name)
  div.form-group.mt-2
    label(for='p2name') Player 2:
    input#p2name(type='text' name='p2name' value=gameData.player2_name)
  .number
    span.minus -
    input(type='text' value='1')
    span.plus +
  input(type='submit' value='Save')
